<div class="container">


  <div class="jumbotron text-center">
    <h1>Поиск организаций</h1>
    <h2>по вашему запросу</h2>
    <h3>(api yandex.map)</h3>


    <form name="myForm">
      <label for="request">Ваш запрос</label> <br/>
      <input id="request" placeholder="Введите ваш поисковой запрос, например: Купить квартиру" ng-change="main.regChange()" ng-model="main.reg" type="text" required /><br/>

      <label for="numbers">Кол-во результатов</label> <br/>
      <input id="numbers" ng-model="main.numbers" type="number"/><br/>

      <label for="skip">Сколько результатов пропускать</label> <br/>
      <input id="skip" ng-model="main.skip" type="number"/><br/>


      <p ><a ng-disabled="myForm.$invalid"  ng-click="main.mydata()" class="btn btn-lg btn-success">НАЙТИ</a></p></form>
  </div>


  <h2 ng-show="main.req_done">Список организаций:</h2>


  <div id="results_back" ng-repeat="(key, value) in main.name track by $index " class="informatio">
    <div> {{$index+1}}. <a href="{{value}}">{{key}}</a></div>
  </div>


  <hr>
  <p>{{main.example}}</p>
  <div class="footer">
    <p>With ♥ from <a href="https://bitbucket.org/Egregor2011">@egregor2011</a></p>
  </div>

</div>

